.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.986000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.009000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-4.983700px;}
._5{margin-left:-3.387284px;}
._4{margin-left:-1.193804px;}
._0{width:1.377232px;}
._e{width:7.771858px;}
._f{width:8.827200px;}
._2{width:9.962600px;}
._d{width:11.955200px;}
._10{width:13.345394px;}
._1{width:17.215400px;}
._3{width:19.929260px;}
._14{width:621.801615px;}
._13{width:708.217906px;}
._16{width:868.875136px;}
._7{width:991.952741px;}
._c{width:1146.878853px;}
._18{width:1163.432428px;}
._1a{width:1186.284239px;}
._9{width:1217.987626px;}
._17{width:1237.232988px;}
._b{width:1352.588656px;}
._11{width:1384.110067px;}
._6{width:1407.621355px;}
._15{width:1480.803834px;}
._12{width:1520.557810px;}
._a{width:1610.097895px;}
._1b{width:1648.831501px;}
._19{width:1673.701566px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:27.895200px;}
.fs3{font-size:31.880400px;}
.fs1{font-size:39.850400px;}
.fs2{font-size:47.820800px;}
.fs0{font-size:68.861600px;}
.y3b{bottom:46.886000px;}
.y3a{bottom:58.842000px;}
.y39{bottom:68.560000px;}
.y36{bottom:70.797000px;}
.y37{bottom:71.781000px;}
.y38{bottom:72.822000px;}
.y35{bottom:89.462000px;}
.y0{bottom:108.000000px;}
.y34{bottom:119.598000px;}
.y33{bottom:131.554000px;}
.y32{bottom:148.213000px;}
.y30{bottom:160.068000px;}
.y31{bottom:160.168000px;}
.y2f{bottom:178.243000px;}
.y2e{bottom:190.198000px;}
.y2d{bottom:208.473000px;}
.y2b{bottom:220.328000px;}
.y2c{bottom:220.428000px;}
.y2a{bottom:238.503000px;}
.y29{bottom:250.458000px;}
.y28{bottom:268.733000px;}
.y27{bottom:280.688000px;}
.y25{bottom:292.543000px;}
.y26{bottom:292.643000px;}
.y24{bottom:309.103000px;}
.y23{bottom:321.058000px;}
.y22{bottom:337.717000px;}
.y20{bottom:349.573000px;}
.y21{bottom:349.672000px;}
.y1f{bottom:366.132000px;}
.y1d{bottom:378.087000px;}
.y1e{bottom:379.071000px;}
.y1c{bottom:394.746000px;}
.y1a{bottom:406.602000px;}
.y1b{bottom:406.702000px;}
.y19{bottom:423.161000px;}
.y18{bottom:435.116000px;}
.y17{bottom:451.776000px;}
.y15{bottom:463.631000px;}
.y16{bottom:463.731000px;}
.y14{bottom:482.296000px;}
.y13{bottom:512.433000px;}
.y12{bottom:524.388000px;}
.y11{bottom:543.053000px;}
.y10{bottom:566.425000px;}
.ye{bottom:579.000000px;}
.yf{bottom:579.099000px;}
.yd{bottom:595.659000px;}
.yb{bottom:608.510000px;}
.yc{bottom:608.610000px;}
.ya{bottom:625.070000px;}
.y9{bottom:637.025000px;}
.y8{bottom:647.707000px;}
.y7{bottom:659.662000px;}
.y5{bottom:671.517000px;}
.y6{bottom:671.617000px;}
.y4{bottom:690.182000px;}
.y3{bottom:719.652000px;}
.y2{bottom:731.607000px;}
.y1{bottom:743.562000px;}
.h8{height:20.307706px;}
.h7{height:22.953888px;}
.h5{height:28.692288px;}
.h3{height:29.011091px;}
.h6{height:29.210343px;}
.h4{height:34.430976px;}
.h2{height:49.580352px;}
.h1{height:601.500000px;}
.h0{height:792.000000px;}
.w1{width:540.000000px;}
.w0{width:612.000000px;}
.x0{left:36.000000px;}
.x4{left:49.888000px;}
.x7{left:50.944000px;}
.x5{left:60.907000px;}
.x6{left:72.862000px;}
.xa{left:160.633000px;}
.xb{left:170.292000px;}
.x3{left:172.476000px;}
.x2{left:213.367000px;}
.x1{left:242.880000px;}
.xc{left:391.094000px;}
.xd{left:395.025000px;}
.xe{left:399.472000px;}
.xf{left:404.314000px;}
.x8{left:453.763000px;}
.x9{left:466.910000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-6.644933pt;}
._5{margin-left:-4.516379pt;}
._4{margin-left:-1.591739pt;}
._0{width:1.836309pt;}
._e{width:10.362478pt;}
._f{width:11.769600pt;}
._2{width:13.283467pt;}
._d{width:15.940267pt;}
._10{width:17.793859pt;}
._1{width:22.953867pt;}
._3{width:26.572347pt;}
._14{width:829.068820pt;}
._13{width:944.290542pt;}
._16{width:1158.500181pt;}
._7{width:1322.603654pt;}
._c{width:1529.171804pt;}
._18{width:1551.243237pt;}
._1a{width:1581.712319pt;}
._9{width:1623.983501pt;}
._17{width:1649.643984pt;}
._b{width:1803.451541pt;}
._11{width:1845.480090pt;}
._6{width:1876.828474pt;}
._15{width:1974.405111pt;}
._12{width:2027.410413pt;}
._a{width:2146.797194pt;}
._1b{width:2198.442001pt;}
._19{width:2231.602089pt;}
.fs4{font-size:37.193600pt;}
.fs3{font-size:42.507200pt;}
.fs1{font-size:53.133867pt;}
.fs2{font-size:63.761067pt;}
.fs0{font-size:91.815467pt;}
.y3b{bottom:62.514667pt;}
.y3a{bottom:78.456000pt;}
.y39{bottom:91.413333pt;}
.y36{bottom:94.396000pt;}
.y37{bottom:95.708000pt;}
.y38{bottom:97.096000pt;}
.y35{bottom:119.282667pt;}
.y0{bottom:144.000000pt;}
.y34{bottom:159.464000pt;}
.y33{bottom:175.405333pt;}
.y32{bottom:197.617333pt;}
.y30{bottom:213.424000pt;}
.y31{bottom:213.557333pt;}
.y2f{bottom:237.657333pt;}
.y2e{bottom:253.597333pt;}
.y2d{bottom:277.964000pt;}
.y2b{bottom:293.770667pt;}
.y2c{bottom:293.904000pt;}
.y2a{bottom:318.004000pt;}
.y29{bottom:333.944000pt;}
.y28{bottom:358.310667pt;}
.y27{bottom:374.250667pt;}
.y25{bottom:390.057333pt;}
.y26{bottom:390.190667pt;}
.y24{bottom:412.137333pt;}
.y23{bottom:428.077333pt;}
.y22{bottom:450.289333pt;}
.y20{bottom:466.097333pt;}
.y21{bottom:466.229333pt;}
.y1f{bottom:488.176000pt;}
.y1d{bottom:504.116000pt;}
.y1e{bottom:505.428000pt;}
.y1c{bottom:526.328000pt;}
.y1a{bottom:542.136000pt;}
.y1b{bottom:542.269333pt;}
.y19{bottom:564.214667pt;}
.y18{bottom:580.154667pt;}
.y17{bottom:602.368000pt;}
.y15{bottom:618.174667pt;}
.y16{bottom:618.308000pt;}
.y14{bottom:643.061333pt;}
.y13{bottom:683.244000pt;}
.y12{bottom:699.184000pt;}
.y11{bottom:724.070667pt;}
.y10{bottom:755.233333pt;}
.ye{bottom:772.000000pt;}
.yf{bottom:772.132000pt;}
.yd{bottom:794.212000pt;}
.yb{bottom:811.346667pt;}
.yc{bottom:811.480000pt;}
.ya{bottom:833.426667pt;}
.y9{bottom:849.366667pt;}
.y8{bottom:863.609333pt;}
.y7{bottom:879.549333pt;}
.y5{bottom:895.356000pt;}
.y6{bottom:895.489333pt;}
.y4{bottom:920.242667pt;}
.y3{bottom:959.536000pt;}
.y2{bottom:975.476000pt;}
.y1{bottom:991.416000pt;}
.h8{height:27.076941pt;}
.h7{height:30.605184pt;}
.h5{height:38.256384pt;}
.h3{height:38.681455pt;}
.h6{height:38.947124pt;}
.h4{height:45.907968pt;}
.h2{height:66.107136pt;}
.h1{height:802.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:720.000000pt;}
.w0{width:816.000000pt;}
.x0{left:48.000000pt;}
.x4{left:66.517333pt;}
.x7{left:67.925333pt;}
.x5{left:81.209333pt;}
.x6{left:97.149333pt;}
.xa{left:214.177333pt;}
.xb{left:227.056000pt;}
.x3{left:229.968000pt;}
.x2{left:284.489333pt;}
.x1{left:323.840000pt;}
.xc{left:521.458667pt;}
.xd{left:526.700000pt;}
.xe{left:532.629333pt;}
.xf{left:539.085333pt;}
.x8{left:605.017333pt;}
.x9{left:622.546667pt;}
}
